@import 'abstracts/navbar';
@import 'abstracts/info_section';
@import 'abstracts/cards';
@import 'abstracts/footer_section';
@import 'abstracts/about';
// @import 'abstracts/mixin';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'cocogoose', sans-serif;
}
