@import 'mixin';
@import 'colors';

.footer_container {
  position: relative;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .footer_about {
    width: 100%;
    display: flex;

    .footer_logo {
      width: 20%;
      margin: 5%;

      img {
        height: 15vh;
        width: 15vw;
      }
    }

    .about {
      width: 50%;
      margin: 5%;

      p {
        font-size: 15px;
        color: $muted;
      }
    }
  }

  .footer_info {
    display: flex;
    background-color: $dark;
    color: $muted;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      margin: 5% 0 0 0;
      text-align: center;
    }

    hr {
      width: 3vw;
      height: 3px;
      border-width: 0;
      background-color: $danger;
    }

    ul {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 10vw;
      justify-content: space-between;
      margin: 5% 0 5% 0;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: $muted;
        }
      }
    }
  }
}
