@import 'colors';
// @import 'fonts';
// @import 'breakpoints';
@import 'mixin';
@import 'displays';
// @import 'navbar';

@include mobile {
  .info_section {
    height: 100vh;
    width: 100vw;

    .bg_info {
      background-image: url(../../images/bg_info.jpg);
      filter: blur(1px);
      -webkit-filter: blur(1px);
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .info_wrapper {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 100%;
      height: 100vh;
      padding: 20px;
      gap: 10px;

      .info_title {
        h3 {
          margin-top: 10%;
          color: $danger;
          font-size: 35px;
          font-weight: bold;
          font-family: 'Lato', sans-serif;
        }
      }

      .info_header {
        h3 {
          font-size: 45px;
          background-image:
            repeating-linear-gradient(
              to bottom left,
              $red_orange 5%,
              $danger 10%,
              $brownish 20%
            );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .info_description {
        border: 2px solid $light;
        height: 20vh;

        p {
          color: $dark;
        }
      }

      .info_dates {
        h3 {
          color: $dark;
          font-size: 30px;
        }

        p {
          color: $dark;
        }
      }
    }
  }
}

@include desktop {
  .info_section {
    height: 45rem;
    width: 100vw;

    .bg_info {
      background-image: url(../../images/bg_info.jpg);
      filter: blur(3px);
      -webkit-filter: blur(3px);
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .info_wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 55%;
      left: 60%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 100%;
      height: 100%;
      padding: 20px;
      gap: 20px;

      .info_title {
        h3 {
          margin-top: 15%;
          color: $danger;
          font-size: 60px;
          font-weight: bold;
          font-family: 'Lato', sans-serif;
        }
      }

      .info_header {
        h3 {
          font-size: 80px;
          background-image:
            repeating-linear-gradient(
              to bottom left,
              $red_orange 5%,
              $danger 10%,
              $brownish 20%
            );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .info_description {
        border: 2px solid $light;
        height: 15vh;
        width: 40vw;
        margin: 0 0 0 2vw;

        p {
          color: $dark;
        }
      }

      .info_dates {
        h3 {
          color: $dark;
          font-size: 25px;
        }

        p {
          font-size: 20px;
          color: $dark;
        }
      }
    }
  }
}
